body {
  font-family: 'Inter', sans-serif;
}

// .container-fluid {
//   background-image: url('../assets/img/wil-stewart.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.75;
// }

// .container-fluid {
//   display: block;
//   // position: relative;
// }

.container-fluid::before {
  content: "";
  background: url('../assets/img/wil-stewart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container-fluid::after {
  background-color: #6D6875;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}

/* NAVBAR */

.navbar{
  background-color: #6D6875;
}

.navbar-light .navbar-brand {
  color: #ffffff;
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 400;
}

/* DESCRIPTION */

.description-title {
  color: #ffffff;
}

.description-title--light {
  font-weight: 300;
}

.description-title--bold {
  font-weight: 700;
}

/* LOG */
.log__container {
  background: rgb(116, 110, 126);
  border-radius: 5px;
  color: #ffffff;
  padding: 20px;
}

.log__container--tabs {
  justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #ffffff;
  background-color: #CE8C6D;
  background-color: transparent;
  border-bottom: 5px solid #CE8C6D;
  border-radius: 0;
}

.log__container--tabs .nav-link {
  color: rgba(255, 255, 255,0.5);
  border-bottom: 5px solid transparent;
  border-radius: 0;
  transition: all 0.5s ease;
}

.log__container--tabs .nav-link:hover {
  color: rgba(255, 255, 255,1);
}